{% extends "navbar.html" %} 
{% load staticfiles %}
{% block head_title%} About {% endblock %} 
{% block content%}
<div class="row">
    <div class="col s12 m7">
        <div class="card hoverable">
            <div class="card-image">
                <img src="{% static 'img/1.jpg'%}" class="responsive-img">
                <span class="card-title"><h3>About Us</h3></span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">book</i>
                    <h4>Objective</h4>
                </div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">account_balance</i>
                    <h4>Collaboration</h4>
                </div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block toast%}
<script type="text/javascript">
//<![CDATA[
$(window).load(function() { // makes sure the whole site is loaded

    Materialize.toast('Computer Society of India Welcome You!!', 3000,'rounded')
})
</script>

{% endblock %}
