{% extends "navbar.html" %}
{% load staticfiles %}
{% block head_title%} Gallery{% endblock %}
{% block content%}
<div class="row">
    <div class="clearfix"></div>
    <div class="gallery">
        <div class="col s6 m4">
            <img class="materialboxed responsive-img" src="{% static 'img/2.jpg'%}">
        </div>
        <div class="col s6 m4">
            <img class="materialboxed responsive-img" src="{% static 'img/3.jpg'%}">
        </div>
        <div class="col s6 m4">
            <img class="materialboxed responsive-img" src="{% static 'img/4.jpg'%}">
        </div>
        <div class="clearfix"></div>
        <div class="col s6 m4">
            <img class="materialboxed responsive-img" src="{% static 'img/5.jpg'%}">
        </div>
    </div>
</div>
{% endblock%}